<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <nav
      style="
        display: flex;
        justify-content: space-evenly;
        justify-content: space-evenly;
        flex-wrap: wrap;
      "
    >
      <img
        style="border-radius: 4px; padding: 5px; width: 150px"
        src="https://i.pinimg.com/236x/74/a3/a6/74a3a643e5d06c17acd7b18c6d3053fc--white-cats-black-cats.jpg"
        alt="logo"
      />
      <a href="/views/home.html"> <h1>home</h1> </a>
      <a href="/views/contactUs.html"> <h1>contact Us</h1> </a>
      <a href="/views/ourServers.html"> <h1>our OurServers</h1> </a>
    </nav>
    <div>
      <p>WE LOOK FORWARD TO HEARING FROM YOU</p>
      <p>
        we can’t wait to meet you and your pet! Contact us with questions about
        boarding and veterinary services, suggestions or comments. Someone from
        our staff will be happy to help you and will contact you shortly.
      </p>
    </div>
    <form action="" method="get" class="form-example">
      <div class="form-example">
        <label for="name">Enter your name: </label>
        <input type="text" name="name" id="name" required />
      </div>
      <div class="form-example">
        <label for="email"> email: </label>
        <input type="email" name="email" id="email" required />
      </div>
      <div class="form-example">
        <label for="number"> phone number: </label>
        <input type="number" name="number" id="number" required />
      </div>
      <div class="form-example">
        <label for="message"> message: </label>
        <input type="message" name="message" id="message" required />
      </div>
      <div class="form-example">
        <input type="submit" value="Subscribe!" />
      </div>
    </form>
  </body>
  <footer>
     <div> 
     <span>COVID-19 Response</span> 
      <span> CONNECT WITH US</span>
      <span> &#169 all right reserved </span> 
     </div>
     <img src=" style="border-radius: 4px; padding: 5px; width: 150px"
     src="https://i.pinimg.com/236x/74/a3/a6/74a3a643e5d06c17acd7b18c6d3053fc--white-cats-black-cats.jpg"
     alt="logo"> 
     </footer>
</html>
