<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <nav
      style="
        display: flex;
        justify-content: space-evenly;
        justify-content: space-evenly;
        flex-wrap: wrap;
      "
    >
      <img
        style="border-radius: 4px; padding: 5px; width: 150px"
        src="https://i.pinimg.com/236x/74/a3/a6/74a3a643e5d06c17acd7b18c6d3053fc--white-cats-black-cats.jpg"
        alt="logo"
      />
      <a href="/views/home.html"> <h1>home</h1> </a>
      <a href="/views/contactUs.html"> <h1>contact Us</h1> </a>
      <a href="/views/ourServers.html"> <h1>our OurServers</h1> </a>
    </nav>
    <div class="aboutus">
      <h1>ALWAYS THERE FOR EVERY AGE AND STAGE</h1>
      <p>
        Treat your pet to their own vacation while you’re away on yours. At Pet
        Paradise, dropping off your furry child is like dropping them off for a
        sleepover (minus the sleeping bags and late-night movies). Surrounded by
        friends and doting grownups, you can sleep easier knowing your precious
        pet is well-cared for. We’re always there for every age and stage.
        Schedule your dog or cat’s stay with 25% off the first night.
      </p>
      <div>
        <button>Dog bording</button>
        <button>cat bording</button>
      </div>
    </div>
  </body>
</html>
