<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <nav
      style="
        display: flex;
        justify-content: space-evenly;
        justify-content: space-evenly;
        flex-wrap: wrap;
      "
    >
      <img
        style="border-radius: 4px; padding: 5px; width: 150px"
        src="https://i.pinimg.com/236x/74/a3/a6/74a3a643e5d06c17acd7b18c6d3053fc--white-cats-black-cats.jpg"
        alt="logo"
      />
      <a href="/views/home.html"> <h1>home</h1> </a>
      <a href="/views/contactUs.html"> <h1>contact Us</h1> </a>
      <a href="/views/ourServers.html"> <h1>our OurServers</h1> </a>
    </nav>
    <div>
      <h1>ALL YOUR PET CARE NEEDS, ALL IN ONE PLACE</h1>
      <p>
        Whether large, small, social or solo, Pet Paradise Resort and Day Spa®
        gives all dogs and cats a vacation of their own. Our comprehensive
        boarding experience ensures that your pet feels right at home. *Services
        and pricing vary by location. Please check the location page of your
        neighborhood Pet Paradise for more information.
      </p>
    </div>
  </body>
</html>
